* *::after *::before {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}



.body {
    font-family: "Raleway", sans-serif;
    height: 100%;
    position: relative;
    min-width: 800px;
    margin: 0px;
    display: flex;
}

.body::before {
    content: "";
    background: rgba(225,225, 225, 0.3);
    z-index: 1;
    position: absolute;
    inset: 0;
}


.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 0;
    inset: 0;
}


.container {
    font-size: 116px;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 60px;
    text-align: center;
    z-index: 1;
    max-width: 720px;
    line-height: 136px;
    margin: 0 auto;
}


.container::after {
    font-size: 100px;
    content: "*";
    position: relative;
}


.container:hover {
    position: relative;
    cursor:default ;
    color: #4c4c4c; 
}


.container:hover::before {
    font-weight: normal;
    font-size: 35px;
    content: "На самом деле нет.\A Важнее &mdash; научиться ошибаться.";
    position: absolute;
    white-space: pre;
    text-align: left;
    text-transform: initial;
    line-height: 1;
    min-width: 760px;
    padding: 36px 44px;
    top: 180px;
    right: 20px;
    background-color: white;
    border-radius: 20px;
    outline: 2px solid black;
    box-shadow: 0px 10px 0px 2px black;
    z-index: 2;
}



.background {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    background: rgba(225,225, 225, 0.3);
}

